/* Clock */
.clocktab {
  width: 15em;
  height: 14em;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clock {
  width: 12em;
  height: 12em;
  position: absolute;
  border-radius: 50%;
}

.textcontainer {
  position: absolute;
  color: #fff;
  cursor: default;
}

.time {
  margin: 0;
  font-size: 3.5em;
  font-weight: 400;
  display: block;
}

.min {
  margin: 0;
  font-size: 1.25em;
  text-align: center;
  font-weight: 400;
  display: block;
}

.svgclock {
  width: 12em;
  height: 12em;
}

#svgdial {
  fill: var(--dark);
}

#svgbg {
  fill: none;
  stroke-width: 0.5em;
  stroke: var(--tabBG);
}

#svghandborder {
  fill: none;
  stroke-width: 1em;
  stroke-linecap: round;
  stroke: var(--tabBG);

  transform: rotate(-90deg);
  transform-origin: 50% 50%;

  stroke-dasharray: calc(pi * 9em);
  stroke-dashoffset: calc(pi * 9em);
  
  transition: stroke-dashoffset 0.5s;
}

#svghand {
  fill: none;
  stroke-width: 0.5em;
  stroke-linecap: round;
  stroke: var(--accent);

  transform: rotate(-90deg);
  transform-origin: 50% 50%;

  stroke-dasharray: calc(pi * 9em);
  stroke-dashoffset: calc(pi * 9em);
  transition: stroke-dashoffset 0.5s;
}

/* Counter */
#studycontainer {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
}

#progressbar {
  display: block;
  border-radius: 4em;
  width: 100%;
  height: 0.5em;

  background-color: var(--background);
}

#currentprogress {
  position: absolute;
  background-color: var(--dark); /* #d66868 */
  border-radius: 4em;
  top: 0;
  left: 0;
  height: 0.5em;
  width:0%;
  transition: 1s;
}

/* Timer Toggle */
#advancedcontainer {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0rem 0.25rem 0.7rem 0.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.settimer {
  cursor: pointer;
  color: #fff;
  fill: #fff;

  border-width: 1px;
  border-color: var(--dark);
  background-color: var(--dark);
  padding: 0.25em;
}

#setwork {
  border-radius: 2em 0 0 2em;
  padding-left: 0.5em;
  width: 30%;
  border-style: solid none solid solid;
}

#setshort {
  width: 30%;
  border-style: solid none solid none;
}

#setlong {
  border-radius: 0 2em 2em 0;
  padding-right: 0.5em;
  width: 30%;
  border-style: solid solid solid none;
}

#setwork:hover,
#setshort:hover,
#setlong:hover {
  border-color: var(--border);
  background-color: var(--tabBG);
  color: var(--fontText);
  fill: var(--fontText);
}

#setwork:active,
#setshort:active,
#setlong:active {
  border-color: var(--dark);
  background-color: var(--dark);
  color: #fff;
  fill: #fff;
}

#setwork:disabled,
#setshort:disabled,
#setlong:disabled {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-color: var(--border);
  background-color: var(--tabBG);
  color: var(--fontSubtext);
  fill: var(--fontSubtext);
  cursor: default;
}

/* Buttons */
#playpausecontainer {
  text-align: center;
  font-size:0;
  margin: 0.3rem 0.25rem 0.7rem 0.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alarmbutton {
  border-radius: 2em;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alarmbutton,
.alarmbuttonactive,
.stopbutton {
  background-color: var(--accent);
  color: #fff;
  fill: #fff;

  padding-top: 0.25em;
  padding-bottom: 0.25em;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: var(--accent);
}
/*
.greenalarm {
  background-color: #66be68;
  border-color: #66be68;
}

.bluealarm {
  background-color: #689dd6;
  border-color: #689dd6;
}
*/
.alarmbuttonactive {
  border-radius: 2em 0 0 2em;
  width: 65%;
  padding-left: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stopbutton {
  display: none;
}

.stopbuttonactive {
  border-radius: 0 2em 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  padding-right: 1em;
}

.alarmbutton:hover,
.alarmbuttonactive:hover,
.stopbuttonactive:hover {
  color: var(--fontText);
  fill: var(--fontText);
  background-color: transparent;
  
  border-style: solid;
  border-color: var(--border);
}

.alarmbuttonactive:hover {
  border-right-color: transparent;
}

.stopbuttonactive:hover {
  border-left-color: transparent;
}

.alarmbutton:active,
.alarmbuttonactive:active,
.stopbuttonactive:active  {
  background-color: var(--accent);
  color: #fff;
  fill: #fff;
  border-color: var(--accent);
}